* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0 auto; 
  max-width: 1440px;
  max-height: 1144px;
  background: #FFFFFF;
}

input, button {
  border: none;
  outline:none;
  cursor: pointer;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;  
}

.header {
  padding: 32px 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav__button {
  background-color: #E5261E;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 0 32px;
}

.header__search {
  display: flex;
  margin-right: 37px;
}

.header__search input {
  width: 320px;
  border-bottom: 1px solid #333333;
}

.header__search button {
  background-color: #FFFFFF;
  color: #E5261E;
  padding-left: 32px;
}

.header__tabs {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  height: 42px;
}

.tabs-wrapper {
  display: flex;
  gap: 25px;
}

.tabs-wrapper button {
  background-color: #FFFFFF;
  font-size: 28px;
}

.tabs-wrapper button:active {
  color: #E5261E;
}

.active {
  color: #E5261E;
}
